<div class="p-8">
  <h1 class="mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
    About
  </h1>

  <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
    Hello! I'm <span class="font semibold text-gray-900 dark:text-white">Andrew Lo Zhi Sheng</span>.
    
    I'm a Software Engineer at <a href="#" class="font semibold text-gray-900 dark:text-white">Squarepoint Capital</a>
    and a recent Computer Science graduate from the <a href="#" class="font semibold text-gray-900 dark:text-white">National University of Singapore (NUS)</a>.
  </p>

  <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
    My interests lie in Backend Engineering, Computer Networks, and Database Systems
    and I've worked on a variety of data-intensive applications ranging from Market Data to KYC
  </p>

  <p class="text-base font-normal text-gray-500 dark:text-gray-400">
    Besides work, I lift, I run, and I'm a purple belt in Brazillian Jiu-Jitsu.
  </p>
</div>
