<div class="p-8">
  <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-primary dark:text-primarydark">
    About 
  </h1>

  <p class="mb-4 text-base font-normal text-txt dark:text-txtdark">
    Hello! My name is Andrew Lo Zhi Sheng.
    
    I'm a Software Engineer at <a href="https://www.squarepoint-capital.com/" class="font semibold text-accent dark:text-accentdark">Squarepoint Capital</a>
    and a recent Computer Science graduate from the <a href="https://nus.edu.sg/about" class="font semibold text-accent dark:text-accentdark">National University of Singapore (NUS)</a>.
  </p>

  <!-- TODO add links for MD and kyc -->
  <p class="mb-4 text-base font-normal text-txt dark:text-txtdark">
    My interests lie in Backend Engineering, Computer Networks, and Database Systems
    and I've worked on a variety of data-intensive applications ranging from <a href="#" class="font semibold text-accent dark:text-accentdark">Market Data</a> to <a href="#" class="font semibold text-accent dark:text-accentdark">KYC</a>
  </p>

  <p class="text-base font-normal text-txt dark:text-txtdark">
    Besides work, I lift, I run, and I'm a purple belt in Brazillian Jiu-Jitsu.
  </p>
</div>
