---
import Experience from "../components/Experience.astro"
---

<div class="p-8">
  <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-primary dark:text-primarydark">
    Experiences 
  </h1>
  
  <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    <Experience 
      role='TODO', 
      company={{ name: "Squarepoint Capital", link: "https://www.squarepoint-capital.com/"}}, 
      start='TODO', 
      end='TODO', 
      points={['TODO', 'TODO']}, 
    />
    <Experience 
      role='TODO', 
      company={{ name: "TikTok", link: "https://www.tiktok.com/about/"}}, 
      start='TODO', 
      end='TODO', 
      points={['TODO', 'TODO']}, 
    />
    <Experience 
      role='TODO', 
      company={{ name: "GovTech", link: "https://www.tech.gov.sg/"}}, 
      start='TODO', 
      end='TODO', 
      points={['TODO', 'TODO']}, 
    />
    <Experience 
      role='TODO', 
      company={{ name: "Grab", link: "https://www.grab.com/sg/about/"}}, 
      start='TODO', 
      end='TODO', 
      points={['TODO', 'TODO']}, 
    />
    <Experience 
      role='TODO', 
      company={{ name: "National University of Singapore", link: "https://nus.edu.sg/about"}}, 
      start='TODO', 
      end='TODO', 
      points={['TODO', 'TODO']}, 
    />
    <Experience 
      role='TODO', 
      company={{ name: "Robotics Innovation Lab, SUTD", link: "https://www.sutd.edu.sg/about/"}}, 
      start='TODO', 
      end='TODO', 
      points={['TODO', 'TODO']}, 
    />
  </ol>
</div>

