---
interface Props {
  name: string;
  desc: string;
  link: string;
}
const { name, desc, link } = Astro.props;
---

<div class="flex justify-center items-center flex-col hidden duration-700 ease-in-out" data-carousel-item>
  <h5 class="mb-2 text-xl font-bold tracking-tight text-accent dark:text-accentdark">{name}</h5>
  <p class="mb-3 font-normal text-txt dark:text-txtdark">{desc}</p>
  <a href={link} class="border border-accent inline-flex items-center px-3 py-2 text-sm font-medium text-center text-accent rounded-lg hover:text-txtdark hover:bg-accent focus:ring-4 focus:outline-none focus:ring-accent dark:hover:bg-accentdark dark:focus:ring-accentdark dark:hover:text-txt dark:border-accentdark dark:text-accentdark">
        See on GitHub 
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>

