<header class="p-8">
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-primary dark:text-primarydark">
    Hi! I'm Andrew
  </h1>
  <p class="mb-6 text-lg font-normal text-txt dark:text-txtdark">
    Software Engineer
  </p>
  <a href="#" class="text-accent hover:text-txtdark border border-accent hover:bg-accent focus:ring-4 focus:outline-none focus:ring-accent font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-accentdark dark:text-accentdark dark:hover:text-txt dark:hover:bg-accentdark dark:focus:ring-accentdark">
      My Resume
  </a>
</header>

